* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, rgba(0, 146, 135, 1) 4%, rgba(0, 157, 194, 1) 33%, rgba(0, 226, 238, 1) 90%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    margin: 1rem;
}

.container {
    background: #23235b;
    width: 350px;
    max-width: 100%;
    box-shadow: 1px 2px 4px 5px rgba(255, 255, 255, .3);
    padding: 20px;
}

.result-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.btn {
    border: none;
    background-color: #3b3b98;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-large {
    display: block;
    width: 100%;
}

.setting {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}